#Build
build
#Data
data/ply/deformed/resultsRegistrationMeshes
data/testerInputs/testerInput.txt
#Swap files
*.swp
*.swo
.cpp~
*.autosave
*.user
*~
#Others
lib/
CMakeLists.txt.user
KeyFrameTrajectory.txt
Vocabulary/ORBvoc.txt
